@import './css/vendor/normalize.scss';
@import "../../node_modules/node-refills/assets/stylesheets/all";
@import 'scss/flexgird';
@import 'scss/header';
@import 'scss/faqs';
@import 'scss/footer';

$xs: 0.2rem;
$sm: 0.5rem;
$md: 1rem;
$lg: 1.5rem;
$xl: 2rem;

body {
  font-family: "open-sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
}

h1 {
  font-family: "ff-ernestine-web-pro",sans-serif;
  font-size: 5rem;
  letter-spacing: -0.3rem;
  color: white   ;
}

.row { }

.hero {
  $bg-color: #2980B9;
  $bg-color-dark: darken($bg-color, 10%);
  height: 40rem;
  background-image: url('http://emberconf.com/images/bg-dark.png');
  background-color: #214271;
  background: url('https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png'), -webkit-linear-gradient(-280deg, $bg-color, $bg-color-dark), no-repeat $bg-color-dark scroll;
  background: url('https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png'), -o-linear-gradient(-280deg, $bg-color, $bg-color-dark), no-repeat $bg-color-dark scroll;
  background: url('https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png'), linear-gradient(10deg, $bg-color, $bg-color-dark), no-repeat $bg-color-dark scroll;
  background-size: cover;
  h3 {
    color: #F1C40F;
    font-weight: 900;
    font-size: 34px;
    padding-bottom: 20px;
    text-shadow: 0 0 15px darken(#2980B9, 20%);
  }
  h5, p {
    color: white;
  }
  h5 {
    font-weight: 100;
    font-size: 30px
  }
  p {
    padding-top: $md;
  }
}

#mc-embedded-subscribe-form {
  .mc-field-group {
    label {
      text-align: left;
      color: white;
    }
  }
  input[type="submit"] {
    background-color: #27AE60;
    width: 100%;
    &:hover {
      background-color: darken(#27AE60, 5%);
    }
  }
}

.sponsors {
  background: #2C3E50;
  border-top: 3px darken(#2C3E50, 3%) solid;
  padding-bottom: 100px;
}

h2 {
  color: white;
  font-weight: 100;
}

.text-left {
  text-align: left;
}

@import 'scss/spaces';
