.faqs {
  $bg-color: #ecf0f1;
  $bg-color-dark: darken($bg-color, 5%);
  background-image: url('/static/images/bg-light-trans.png');
  background-color: #214271;
  background: url('/static/images/bg-light-trans.png'), -webkit-linear-gradient(-280deg, $bg-color, $bg-color-dark), no-repeat $bg-color-dark scroll;
  background: url('/static/images/bg-light-trans.png'), -o-linear-gradient(-280deg, $bg-color, $bg-color-dark), no-repeat $bg-color-dark scroll;
  background: url('/static/images/bg-light-trans.png'), linear-gradient(10deg, $bg-color, $bg-color-dark), no-repeat $bg-color-dark scroll;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 3px solid darken( $bg-color, 10%);
  border-bottom: 3px solid lighten( $bg-color, 10%);
  h1 {
    font-size: 2rem;
    letter-spacing: 0;
    color: black;
  }
  h2 {
    color: black;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
  }
  h1, h2, h3, h6, p {
    text-align: left;
  }

}
