.faqs {
  $bg-color: #ecf0f1;
  background: $bg-color;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 3px solid darken( $bg-color, 10%);
  border-bottom: 3px solid lighten( $bg-color, 10%);
  h1 {
    font-size: 2rem;
    letter-spacing: 0;
    color: black;
  }
  h2 {
    color: black;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
  }
  h1, h2, h3, h6, p {
    text-align: left;
  }

}
