<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="/static/images/horse-silhouettes-light.png" alt="Logo image">
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link">{{#link-to 'categories'}}Categories{{/link-to}}</li>
        <li class="nav-link">{{#link-to 'rules'}}Rules{{/link-to}}</li>
        <li class="nav-link">{{#link-to 'faqs'}}FAQs{{/link-to}}</li>
        <li class="nav-link logo">
          <a href="/" class="logo">
            <img src="/static/images/horse-silhouettes-light.png" alt="Logo image">
          </a>
        </li>
        <li class="nav-link"><a href="http://emberjs.com" target='_blank'>EmberJS</a></li>
        <li class="nav-link"><a href="http://ember-cli.com" target='_blank'>Ember-CLI</a></li>
        <li class="nav-link"><a href="http://www.emberaddons.com/" target='_blank'>Ember Addons</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Login</a></li>
      </ul>
    </nav>
  </div>
</header>
