<!-- Begin MailChimp Signup Form -->
<div class="row center-xs mtm">
  <div id="mc_embed_signup" class="col-xs-10 col-md-8">
    <form action="//emberrodeo.us10.list-manage.com/subscribe/post?u=91aa5c96f1cce720793b9c71f&amp;id=224a48014a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

        <div class="mc-field-group">
          <label for="mce-EMAIL">Sign up to receive updates</label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_91aa5c96f1cce720793b9c71f_224a48014a" tabindex="-1" value=""></div>
        <div class="clear">
          <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </div>
    </form>
  </div>
</div>

<!--End mc_embed_signup-->
