{{#layout}}
  <div class="container-fluid faqs">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <h1>Rules</h1>
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
        The Rules
      </div>
    </div>
  </div>

{{/layout}}
